
<div class="modal fade" id="js-loading-bar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Processando</h4>
                <div class="progress progress-popup">
                    <div id="progressbar" class="progress-bar">
                        <div class="progress-label"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
