<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings configProtectionProvider="PpainelPS">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Wlcdk+zsRssmY0K4FVF4jvPCvmYwDf+5rPfY6gI3SYF72E88X4HA2N+9xP1ldScegJQdMNAJPF0eb+IxhbfXAvleKC9Uyx7NJ6SwWcxNNg0wjh0XdtFsBJMmM72jJDdsyC2zWay+4u3W+cLyTPUUl17+N0vav8MjZjn6nSH4JcA=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>trm56aUQJUe75Mj/MlshgDD4TeKwZwY9uJwrrHDj7eJS3kv3ikl8egKpyiB9oF05WOEas6CqwHaVaNUy1zKnXWyVKqMq8jzNbd/9ngujsHJLey7NvTKRGlAk+wFAqUzqYWaSKGWxAaArdgqdYtCcIOTZ2IixuCmkq+CtEUyyNXY3T75beTAycowas2AqkndIv6h9Cpl6N9y44FFN9APq01nhHQpt4rovD5mkGwWHTL6sjUpE13qOlZ50jRvGUu7dAVrUJI4VHe+jhlNM5vV+ZFKS3H0Rj4TBnTXjqzRsIOhT5mnAPUdD72o88fIgtmKVlrtZud61wAE4BWzenILJq9D+b3V+rQRw1AmtxM4nLVeI3Bt2MKSCNUQVlqsOwiKYjQF5IVDPQEIvn0UdH6G8bX7LAo3dIqX7mtGLc9Ob79r8LuOUDh3zWKMCZPBnBGMS+FRT85ayKZfte8YVcj0+8OUqA/McNLgH+2280m3mMnXo8el8Cn0Lj+YonkCSDzNSqiQFb+pbmLPW74JK+xaqT54vXLe2n7laFA/DKaLfP8d1hmaf4eDaOPxT4FweJzQX9JAihcPCvcHHBCYpDJizeif+m2GrDOwK/rwSWH1NKQcuT3WasPDnvF4H/Nmhcgm0qpIS/ybejHagiyI/hViVWA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="CaminhoAppHospitaisApi" value="http://localhost/Amil.AppHospitais.API/api/" />-->
    <add key="CaminhoAppHospitaisApi" value="http://10.104.44.76/AmericasMedClientes/api/" />
  </appSettings>
  <configProtectedData>
    <providers>
      <add name="PpainelPS" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,processorArchitecture=MSIL" keyContainerName="painelPS" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpCookies httpOnlyCookies="true" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Amil.Framework.Security" publicKeyToken="097ce783a582fe32" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.662.1" newVersion="1.2.662.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <!--dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly-->
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity, Version=8.4.181.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>