@model Amil.AppHospitais.DTO.UnidadeDTO

@{
    ViewBag.Title = "Cadastro realizado com sucesso!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Unidade @Model.Descricao cadastrada com sucesso!</h1>
